@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    font-family:'Roboto', sans-serif ;
    text-shadow: 0 2px 2px gray;
}

div {
    height: 100%;
  }

  .container {
    display: table;
    width: 100%;
  }

.sidebar{
    position: absolute;
    left: 0;
    width: 20%;
    height: 100%;
    background: #042331;
}

.sidebar header{
    font-size: 22px;
    font-weight: bold;
    color: azure;
    text-align: center;
    line-height: 70px;
    background: #063146;
    user-select: none;
}

.sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1);
    transition: .4s;
}

ul li:hover a{
    font-size: 1.75rem;
}

.sidebar ul a i{
    margin-right: 15px ;
}

.rest{
    position: absolute;
    right: 0px;
    width: 80%;
    padding-left: 10px;
  }


/* @media only screen and (max-width: 768px) {
    .sidebar{}
    .rest{
        font-size: 2rem;
    }
    .container {
        display: block;
      }
} */